@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face{
    font-family: 'AUBREY';
    src: url("../fonts/AUBREY.TTF") format('truetype')
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
   
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    font-size: 15px;
    min-width: 1350px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #444939;
}


/*font*/

.font11{
    font-size: 11px;
}
.font18{
    font-size: 18px;
}

.font26{
    font-size: 26px;
    line-height: 23px;
}

.font26_map{
    font-size: 26px;
    padding-bottom: 10px;
}

.font28{
    font-size: 28px;
    line-height: 50px;
    font-weight: 500;
}

.font28_sns{
    font-size: 28px;
    line-height: 24px;
    font-weight: 500;
}

.aubrey{
    font-family: 'AUBREY';
}

.e_green{
    color: #838c6e;
}


/*float*/

.float_l{
    float: left;
}

.float_r{
    float: right;
}

.over{
    overflow: hidden;
}

/*header*/

/*#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
*/

#nav{
    /*position: absolute;*/
    position: fixed;
    display: block;
    transition: top 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.downdown {
    position:fixed;
    animation: down 0.3s ease;
}
@keyframes down {
    0%{
      transform: translateY(-50px)
    }
    100%{
      transform: translateY(0px)
    }  
}

.nav_inner{
    width: 1100px;
    margin: 0 auto;
    transition: all 0.3s;
}

.nav_inner ul {
    float: right;
}

.logo{
    float: left;
    padding-top: 41px;
}

.nav_inner ul li{
    float: left;
    font-weight: bold;
    color: #444939;
    padding: 50px 20px;
}

.nav_inner ul li:nth-child(5){
    padding-top: 40px;
    padding-right: 0;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #a9d167;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  
.video_bg1{
    width: 100%;
    height: 1020px;
    overflow: hidden;
    margin: 0 auto;
    position:relative;
}

.video_bg1 video{
    width: 100%;
}

.video_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video_logo img{
    text-align: center;
}

/*h_quote*/

#h_quote{
    margin: 110px auto;
    text-align: center;
}



.h_50{
    font-size: 50px;
    color: #c7cabf;
    padding-top: 50px;
}

.dream_l{
    font-family: 'S-CoreDream-3Light';
}

.h_42{
    font-size: 42px;
    color: #838c6e;
    padding-bottom: 50px;
}

/*video bg2*/

.video_bg2{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position:relative;
}

.video_bg1 video{
    width: 100%;
}

/*scroll*/

.px_60{
    font-size: 60px;
    padding: 50px 0;
    color: #838c6e;
}


/*home*/

#home{
    background-color: #ede6da;
}

.home_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 45px 0;
}

h3{
    font-size: 42px;
    font-weight: medium;
    line-height: 40px;
}

.swiper{
    text-align: center;
    padding-top: 25px;
}

.goods_img{
    width: 330px;
    height: 206px;
}

.pad_top_40{
    padding-top: 40px;
}


.text_box{
    margin-bottom: 30px;
    line-height: 20pt;
}


/*best*/

#best{
    width: 1320px;
    margin: 125px auto;
    text-align: center;
}

.best_box{
    margin-top: 80px;
    height: 417px;
}


.best_img{
    width: 589px;
}

.best_text{
    width: 370px;
}

.best_box p{
    line-height: 24px;
}

.pad_bo15{
    padding-bottom: 15px;
}
.pad25_0{
    padding: 25px 0;
}

.margin_t1{
    margin-right: 230px;
    margin-top: 60px;
}

.margin_i1{
    margin-left: 65px;
}

.margin_t2{
    margin-left: 170px;
    margin-top: 80px;
}

.margin_i2{
    margin-right: 90px;
}

.margin_t3{
    margin-right: 230px;
    margin-top: 90px;
}

/*자세히보기*/

.content__item {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.content__item::before {
	color: #fffffe;
	position: absolute;
	top: 0;
	left: 0;
}


.button {
	pointer-events: auto;
	cursor: pointer;
	background: #81955f;
	border: none;
	padding: 9px 45px;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
    color: #fff;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--mimas {
	letter-spacing: 0.05rem;
	border-radius:20.5px;;
	overflow: hidden;
	color: #fff;
	background: #a9d167;
}

.button--mimas span {
	position: relative;
}

.button--mimas::before {
	content: '';
	background: #81955f;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}


/*event*/

#event{
    height: 1168px;
    background: url(../images/bg_event.png) no-repeat center center;
    
}

.event_inner{
    width: 1320px;
    margin: 130px auto;
}

.event_banner{
    text-align: center;
}

/*화살표 밖으로 + 이미지로 화살표 변환*/
#arrow_image{
    width:1200px; 
    margin:25px auto;
    position:relative;
    /*화살표 포지션의 기준을 swiper밖에다가 다시 잡아 줍니다.*/}
.card4_img{
    width:1050px; 
    margin:0 auto;
}
/*마진오토 기준등은 원하는 크기에 따라 달라집니다!*/
.card4_img_next{
    right:0;
}
.card4_img_prev{
    left:0;
}
/*화살표를 이미지로 변경*/
.card4_img_next:after{content:url(../images/arrow_r.png);}
.card4_img_prev:after{content:url(../images/arrow_l.png);}
.card4_img_next, .card4_img_prev{width:50px; height:50px;/*이미지크기와 동일하게 설정*/}


/*notice*/

#notice_box{
    margin: 100px 0;
    height: 259px;
}

.notice{
    width: 480px;
    margin-left: 160px;
}

.notice ul{
    width: 100%;
}

.notice ul li{
    list-style-image: url(../images/icon_dot.png);
    list-style-position: inside;
    padding: 15px 0;
    border-bottom: 0.86px solid #a0a98d;
}

.notice ul li:first-child{
    border-top: 0.86px solid #a0a98d;
}

.notice .date, .oneday .date{
    float: right;
    width: 150px;
    text-align: right;
}

.notice p .under{
    border-bottom: #a0a98d solid 3px;
    padding-bottom: 4px;
}

.oneday{
    width: 455px;
    margin-right: 163px;
}

.oneday ul{
    width: 100%;
    text-align: center;
    padding-top: 24px;
    border-top: 0.86px solid #a0a98d;
}

.oneday p .under{
    border-bottom: #a0a98d solid 3px;
    padding-bottom: 4px;
}

.oneday ul li{
    float: left;
    box-sizing: border-box;
}

.oneday ul li:first-child{
    padding: 0 5px;
}

.oneday ul li:nth-child(2) p{
    padding-top: 8px;
}

.event_t{
    padding-top: 115px;
}


/*sns*/

#sns{
    margin: 140px auto;
    text-align: center;
    width: 1100px;
 
}

#sns .icon_sns{
    padding-bottom: 10px;
}

.sns_img_box{
    padding: 80px 0; 
}
.sns_img_box img{
    padding: 0 5px;
}


.sns_img_hover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    margin: 0;
    padding: 80px 0; 
}

.snip1504 {
    
    position: relative;
    overflow: hidden;
    color: #000000;
    text-align: left;
    font-size: 16px;
    background-color: #fff;

    padding: 0 10px;
}
  
.snip1504 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}
  
.snip1504 img {
    vertical-align: top;
    backface-visibility: hidden;
}
  
.snip1504 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.snip1504 h4, .snip1504 h5 {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}
  
.snip1504 h4 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-weight: 400;
}
  
.snip1504 h5 {
    font-weight: normal;
    font-style: italic;
    color: #888;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
  
.snip1504 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
  
.snip1504:hover > img, .snip1504.hover > img {
    opacity: 0.1;
}
  
  .snip1504:hover h4,
  .snip1504.hover h4,
  .snip1504:hover h5,
  .snip1504.hover h5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}



/*map*/

#map{
    background-color: #f3f3ed;
    height: 620px;
}

.map_inner{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.map_inner ul li{
    float: left;
    line-height: 26px;
    padding-top: 10px;
}

.map_inner ul li:nth-child(2){
    margin: 0 130px;
    padding: 0 70px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.map_inner ul li img{
    padding-bottom: 20px;
}

.map_inner ul{
    padding: 40px 0;
    display:inline-block;
}

.map_img{
    box-shadow:5px 5px 5px rgba(0,0,0,0.1);
}

/*footer*/

footer{
    background: #f6f8f4;
}

.footer_inner{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

.font30{
    font-size: 30px;
}

footer span{
    font-weight: bold;
}

footer ul li{
    float: left;
    padding-right: 10px;
}

.f_first{
    height: 40px;
    padding: 20px 0;
}

.f_second{
    height: 25px;
    padding-bottom: 20px;
}

.f_second ul{
    padding-right: 10px;
}

.f_icon a{
    display: inline-block;
    vertical-align: middle;
}

.f_icon a{
    padding-left: 15px;
}

footer p{
    padding-bottom: 10px;
}


/*nav .on*/

#nav.on{
    background: #fff;
    transition: all 0.3s;
}

.on>.nav_inner ul li{
    padding: 20px 20px;
    transition: all 0.3s;
}

.on>.nav_inner ul li:nth-child(5){
    padding-top: 13px;
}

.on>.nav_inner ul {
    height: 70px;
    transition: all 0.3s;
}

.on>.nav_inner .logo{
    padding-top: 12px;
}